@import url('https://fonts.googleapis.com/css?family=Audiowide');

body{
	position:relative;
	height:100%;
}
html{
	min-height:100%;
	position:relative;
}



.HomeHead{
	position:relative; z-index:11;
	
	background-color:#2c3e50;
	
	text-align:center;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow:none;
}


.HomeHead{
	height:100vh;
	position:relative;
	background-image:linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("https://userscontent2.emaze.com/images/ac315fff-308a-4fc6-9f69-1a60c07df893/c528f93ffbd92023853c40d886232d74.jpg");
	background-size:cover; background-position:center; background-attachment:fixed;
	
	z-index:3;
}
.HomeHead h1{
	font-size:1000%;
	display:inline-block;
}



@keyframes noise-anim {
  0% {
    clip: rect(297px, 9999px, 103px, 0);
  }
  5% {
    clip: rect(157px, 9999px, 33px, 0);
  }
  10% {
    clip: rect(21px, 9999px, 211px, 0);
  }
  15% {
    clip: rect(284px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(134px, 9999px, 224px, 0);
  }
  25% {
    clip: rect(300px, 9999px, 117px, 0);
  }
  30% {
    clip: rect(101px, 9999px, 104px, 0);
  }
  35% {
    clip: rect(233px, 9999px, 9px, 0);
  }
  40% {
    clip: rect(220px, 9999px, 229px, 0);
  }
  45% {
    clip: rect(38px, 9999px, 86px, 0);
  }
  50% {
    clip: rect(101px, 9999px, 194px, 0);
  }
  55% {
    clip: rect(119px, 9999px, 21px, 0);
  }
  60% {
    clip: rect(184px, 9999px, 82px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 284px, 0);
  }
  70% {
    clip: rect(174px, 9999px, 85px, 0);
  }
  75% {
    clip: rect(237px, 9999px, 241px, 0);
  }
  80% {
    clip: rect(124px, 9999px, 248px, 0);
  }
  85% {
    clip: rect(103px, 9999px, 185px, 0);
  }
  90% {
    clip: rect(169px, 9999px, 29px, 0);
  }
  95% {
    clip: rect(107px, 9999px, 13px, 0);
  }
  100% {
    clip: rect(176px, 9999px, 196px, 0);
  }
}
.HomeHead .glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
	background-image:linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("https://userscontent2.emaze.com/images/ac315fff-308a-4fc6-9f69-1a60c07df893/c528f93ffbd92023853c40d886232d74.jpg");
	background-size:cover; background-position:center; background-attachment:fixed;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 7s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(189px, 9999px, 145px, 0);
  }
  5% {
    clip: rect(181px, 9999px, 86px, 0);
  }
  10% {
    clip: rect(163px, 9999px, 157px, 0);
  }
  15% {
    clip: rect(82px, 9999px, 238px, 0);
  }
  20% {
    clip: rect(227px, 9999px, 230px, 0);
  }
  25% {
    clip: rect(11px, 9999px, 138px, 0);
  }
  30% {
    clip: rect(271px, 9999px, 185px, 0);
  }
  35% {
    clip: rect(65px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(20px, 9999px, 140px, 0);
  }
  45% {
    clip: rect(256px, 9999px, 249px, 0);
  }
  50% {
    clip: rect(203px, 9999px, 38px, 0);
  }
  55% {
    clip: rect(87px, 9999px, 66px, 0);
  }
  60% {
    clip: rect(213px, 9999px, 12px, 0);
  }
  65% {
    clip: rect(276px, 9999px, 125px, 0);
  }
  70% {
    clip: rect(152px, 9999px, 68px, 0);
  }
  75% {
    clip: rect(232px, 9999px, 64px, 0);
  }
  80% {
    clip: rect(178px, 9999px, 290px, 0);
  }
  85% {
    clip: rect(10px, 9999px, 207px, 0);
  }
  90% {
    clip: rect(131px, 9999px, 234px, 0);
  }
  95% {
    clip: rect(207px, 9999px, 211px, 0);
  }
  100% {
    clip: rect(201px, 9999px, 102px, 0);
  }
}
.HomeHead .glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;background-image:linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("https://userscontent2.emaze.com/images/ac315fff-308a-4fc6-9f69-1a60c07df893/c528f93ffbd92023853c40d886232d74.jpg");
	background-size:cover; background-position:center; background-attachment:fixed;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 10s infinite linear alternate-reverse;
}







/*


#ExBox p{
	margin:0; padding:50px;
	transition: transform 1s ease-out;
	background-size:cover;background-repeat:no-repeat;
}
#ExBox div:nth-child(1) p{
	transform:perspective(10000px)rotateY(-90deg);
	background-position:right;
}
#ExBox div:nth-child(2) p{
	transform:perspective(10000px)rotateY(90deg);
	background-position:left;
}*/

#ConsistentHeader{
	position:fixed;
	left:50%;
	top:50%;
	margin:0; text-align:center;
	transform:translateY(-50%)translateX(-50%);
	white-space:nowrap;
}



.StretchBG{
	background-size:cover;
	background-position:center;
}

.HomeContent{
	padding:15vh 10vw;
	position:relative;
	background-position:center;
	background-size:cover;
	/*background-attachment:fixed;*/
	box-shadow: inset 0 0 20px black;
	margin-bottom:90vh;
}

.HomeContent p{
	margin-right:20vw;
}







@media (max-width : 900px) {
	html, body{
		max-width:100vw;
		overflow-x:hidden;
	}
}