@import url(https://fonts.googleapis.com/css?family=Open+Sans|Share+Tech+Mono);

body{
	background:#2c3e50;color:white;
	font-family: 'Open Sans', sans-serif;
	padding:0; margin:0; border:0;
	overflow-x:hidden;
}

h1{
	font-family: 'Share Tech Mono', monospace;
	font-size:800%;
	padding: 0 50px;
	margin-top:200px;
}

.glitch {
  color: white;
  position: relative;
  margin: 0 auto;
}





a{
	color:white;
}
a:hover{
	text-decoration:none;
}
a:active{
	text-decoration:underline;
}



header{
	width:100%;max-width:100vw;
	
	top:0; left:0;
	box-shadow: inset 0 0 20px black;
	
	position:fixed;
	text-align:center;
	display: flex;
	
	background-image:linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("https://userscontent2.emaze.com/images/ac315fff-308a-4fc6-9f69-1a60c07df893/c528f93ffbd92023853c40d886232d74.jpg");
	background-size:cover; background-position:center; background-attachment:fixed;
	z-index:2;
}

header h1{
	text-align:left;
	display:block;
	margin-left:50px;
	font-size:300%;
	padding:0;
	margin: 32px 50px;
}




header nav{
	position:absolute;
	right:0; bottom:0
}

header a{
	vertical-align:bottom;
	color:white; text-decoration:none;
	display:inline-block;
	position:relative;
	overflow-y:hidden;
	padding: 20px 30px;
	transition: background 0.2s ease;
	background:none;
}
header nav ul{
	list-style-type: none;
	padding:0; margin:0; border:0;
}
header nav li{
	margin:0; 
	display:inline-block; position:relative;
	overflow-y:hidden;
	vertical-align:bottom;
}

header nav li::before{
	background:#2c3e50;
	content:''; display:block; position:absolute;
	width:100%; height:100%; left:0; top:100%;
	z-index:0;
	transition:top 0.5s ease;
}
header nav li:hover::before{
	top:0;
}

header nav a:active{
	background:black;
	text-decoration:none;
}

header .CurrPage{
	background:#2c3e50; color:white;
}



header h1 a{
	padding:0;
	transition: color 0.5s ease;
	text-decoration:none !important;
}
header h1 a:hover{
	color:aqua;
}
header h1 a:active{
	color:blueviolet;
}

@keyframes noise-anim3 {
  0% {
    clip: rect(3px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(3px, 9999px, 19px, 0);
  }
  10% {
    clip: rect(15px, 9999px, 6px, 0);
  }
  15% {
    clip: rect(3px, 9999px, 10px, 0);
  }
  20% {
    clip: rect(11px, 9999px, 18px, 0);
  }
  25% {
    clip: rect(6px, 9999px, 3px, 0);
  }
  30% {
    clip: rect(8px, 9999px, 6px, 0);
  }
  35% {
    clip: rect(11px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(19px, 9999px, 16px, 0);
  }
  45% {
    clip: rect(5px, 9999px, 18px, 0);
  }
  50% {
    clip: rect(17px, 9999px, 20px, 0);
  }
  55% {
    clip: rect(20px, 9999px, 17px, 0);
  }
  60% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  65% {
    clip: rect(10px, 9999px, 11px, 0);
  }
  70% {
    clip: rect(19px, 9999px, 7px, 0);
  }
  75% {
    clip: rect(4px, 9999px, 6px, 0);
  }
  80% {
    clip: rect(16px, 9999px, 19px, 0);
  }
  85% {
    clip: rect(3px, 9999px, 4px, 0);
  }
  90% {
    clip: rect(11px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(1px, 9999px, 3px, 0);
  }
  100% {
    clip: rect(12px, 9999px, 8px, 0);
  }
}
header nav a:hover::after {
  content: attr(data-text);
  position: absolute;
  left: 30.5px;
  text-shadow: -1px 0 red;
  top: 20px;
  color: white;
  background: #2c3e50;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim3 7s infinite linear alternate-reverse;
}

@keyframes noise-anim4 {
  0% {
    clip: rect(12px, 9999px, 20px, 0);
  }
  5% {
    clip: rect(19px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(19px, 9999px, 18px, 0);
  }
  15% {
    clip: rect(16px, 9999px, 17px, 0);
  }
  20% {
    clip: rect(20px, 9999px, 12px, 0);
  }
  25% {
    clip: rect(20px, 9999px, 8px, 0);
  }
  30% {
    clip: rect(15px, 9999px, 14px, 0);
  }
  35% {
    clip: rect(8px, 9999px, 5px, 0);
  }
  40% {
    clip: rect(18px, 9999px, 3px, 0);
  }
  45% {
    clip: rect(17px, 9999px, 11px, 0);
  }
  50% {
    clip: rect(9px, 9999px, 18px, 0);
  }
  55% {
    clip: rect(10px, 9999px, 17px, 0);
  }
  60% {
    clip: rect(1px, 9999px, 18px, 0);
  }
  65% {
    clip: rect(12px, 9999px, 16px, 0);
  }
  70% {
    clip: rect(11px, 9999px, 19px, 0);
  }
  75% {
    clip: rect(19px, 9999px, 7px, 0);
  }
  80% {
    clip: rect(1px, 9999px, 11px, 0);
  }
  85% {
    clip: rect(14px, 9999px, 14px, 0);
  }
  90% {
    clip: rect(19px, 9999px, 14px, 0);
  }
  95% {
    clip: rect(10px, 9999px, 5px, 0);
  }
  100% {
    clip: rect(17px, 9999px, 20px, 0);
  }
}
header nav a:hover::before {
  content: attr(data-text);
  position: absolute;
  left: 29px;
  text-shadow: 1px 0 blue;
  top: 20px;
  color: white;
  background: #2c3e50;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim4 3s infinite linear alternate-reverse;
}

header nav a:active::before, header nav a:active::after{
	background:black;
}

header nav li:nth-child(1){
	font-weight:bolder;
}







section{
	margin:0; padding: 50px;
	line-height:150%;
	background:#2c3e50;
	position:relative;
	z-index:1;
}


section.Img{
	/*font-size:initial;*/
	min-height:90vh;
	position:relative;
	
	overflow:hidden;
}

section.Img .Content {
	background:#2c3e50;
	color:white;
	display:inline-block;
	padding: 50px;
	margin:50px;
	position:relative;z-index:1;
	
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
section.Img .BG {
	background-size:cover; background-position:center;/*background-attachment:fixed;*/
	position:absolute; bottom:50%; left:0; width:100%; height:150%;
	z-index:0;
}
section.Img .BGFixed{
	background-size:cover; background-position:center;background-attachment:fixed;
	position:absolute; bottom:50%; left:0; width:100%; height:150%;
	z-index:0;
}










.BigBtn{
	vertical-align:top;
	color:black;
	padding:12px 27px;
	display:inline-block;
	border:3px #000 solid;
	position:relative;
	background:none;
	transition: color 0.5s ease-in, border 0.2s ease, background 0.2s ease;
	overflow:hidden;
	cursor:pointer;
	text-decoration:none;
}
.BigBtn:hover{
	color:white;
	transition: color 0.5s ease-out, border 0.2s ease;
}
.BigBtn:active{
	border:3px #1A237E solid;
	color:white;
}


.BigBtn::before{
	content:'';
	background:white;
	width:100%;
	height:100%;
	position:absolute;
	left: 0; top:0;
	z-index:-2;
	
	transition: background 0.2s ease;
}

.BigBtn::after{
	content:'';
	background:#1A237E;
	width:200%;
	height:100%;
	position:absolute;
	right: 150%; bottom:0;
	z-index:-1;
	transform:skewX(45deg);
	transition: right 0.5s ease-in, background 0.2s ease;
}
.BigBtn:hover::after{
	right:-50%;
	transition: right 0.5s ease-out, background 0.2s ease;;
}
.BigBtn:active::after, .BigBtn:active::before{
	background:black;
}



@media (max-width : 1010px) {/*Fix that dumb nav overlap*/
	nav{
		white-space: nowrap;
	}
	nav a{
		padding-left: 5px !important;
		padding-right:5px !important;
	}
	header nav a:hover::after {
		left: 5.5px;
	}	
	header nav a:hover::before {
		left: 4px;
	}
}
@media (max-width:700px){
	body{
		font-size:75%;
	}
}
@media(max-width:500px){
	
	
	header h1{
		opacity:0;
		pointer-events:none;
	}
}