.Img{
	min-height:0 !important;;
}


body{
	overflow-x:hidden;
}
#pic1{
	display:block;
	position:absolute;
	
	top:50%;
	right:-45vw;
	
	max-width:35vw;
	
	z-index:1;
	transform:scaleX(-1)translateY(-25%);
	
	transition: right 0.5s ease-out;
}

#pic1target{
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  30%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}









.pic2{
	position:relative;
}
.pic2::after {
  content: attr(data-text);
  position: absolute;
  right: 0.5px;
  text-shadow: -1px 0 red;
  top: 0px;
  color: white;
  background: #2c3e50;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim3 1s linear alternate-reverse;
}

.pic2::before {
  content: attr(data-text);
  position: absolute;
  right: -1px;
  text-shadow: 1px 0 blue;
  top: 0px;
  color: white;
  background: #2c3e50;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim4 2s linear alternate-reverse;
}









#pic3{
	display:block;
	position:absolute;
	
	top:50%;
	right:0;
	
	max-width:35vw;
	
	z-index:1;
	transform:translateY(-50%)rotateX(90deg)rotateY(180deg);
	
	transition: transform 0.5s ease-out;
}










@media (max-width : 900px) {
	html, body{
		max-width:100vw;
		overflow-x:hidden;
	}
}