body{
	overflow-y:hidden;
}
/*
.Select{
	margin:0; padding:0; 
	list-style-type:none;
	text-align:center;
	position:fixed;bottom:0;
	width:100%;
}
.Select li{
	display:inline-block;
	width:75px;height:75px;
	margin:0;
	

	vertical-align:bottom;
	border-radius:0px;
	
	cursor:pointer;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	
	transition: width 0.25s ease-out, height 0.25s ease-out, border-radius 0.25s ease-out, background-color 0.25s ease-out;
	
	background-color:#263238;
	z-index:1; position:relative;
}

.Select li:hover{
	
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	width:100px; height:100px;
}

.Select .CurrPage, .Select li:active{
	background-color:#37474F;
}*/


.item h1{
	padding:0; margin:0;
	width:80vh;line-height:80vh;
	text-align:center;
}




.container {
	margin: 0 auto;
	width: 100%;
	height: 80vh;
	width:80vh;
	position: relative;
	perspective: 500vh;
	
	padding-top:calc(10vh + 50px);
}

.carousel {
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform:rotateY(360deg);
	transition: transform 3s;
}

.item {
	position: absolute;
	/*background: #000;*/
	width: 80vh;
	height: 80vh;
	color: #FFF;
	border-radius: 10px;
	
	display: flex;
	align-items: center;
	justify-content:center;
	
	background-size:cover;
	
	
	opacity:0.95;
}

.a {
	transform: rotateY(0deg) translateZ(80vh);
}
.b {
	transform: rotateY(60deg) translateZ(80vh);
}
.c {
	transform: rotateY(120deg) translateZ(80vh);
}
.d {
	transform: rotateY(180deg) translateZ(80vh);
}
.e {
	transform: rotateY(240deg) translateZ(80vh);
} 
.f {
	transform: rotateY(300deg) translateZ(80vh);
}
/*
.next, .prev {
	color: #444;
	position: absolute;
	top: 100px;
	padding: 1em 2em;
	cursor: pointer;
	background: #CCC;
	border-radius: 5px;
	border-top: 1px solid #FFF;
	box-shadow: 0 5px 0 #999;
	transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
	top: 104px;
	box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }
*/


.item div{
	max-width:80vw;max-height:80vh;
	text-align:left;
	display:block;
	padding:0 20px;
	background-color:rgba(66,66,66,0.8);
}



.CarBtn{
	position:fixed; top:50vh;
	left:10px;
	font-size:200%;
}

.NextCar{
	left:initial;
	right:10px;
}



