body,html{
	overflow-y:hidden;
	height:100%;
}
/*
.Select{
	margin:0; padding:0; 
	list-style-type:none;
	text-align:center;
	position:fixed;bottom:0;
	width:100%;
}
.Select li{
	display:inline-block;
	width:75px;height:75px;
	margin:0;
	

	vertical-align:bottom;
	border-radius:0px;
	
	cursor:pointer;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	
	transition: width 0.25s ease-out, height 0.25s ease-out, border-radius 0.25s ease-out, background-color 0.25s ease-out;
	
	background-color:#263238;
	z-index:1; position:relative;
}

.Select li:hover{
	
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	width:100px; height:100px;
}

.Select .CurrPage, .Select li:active{
	background-color:#37474F;
}*/


.item h1{
	padding:0; margin:0;
	width:80vh;line-height:80vh;
	text-align:center;
}




.container {
	margin: 0 auto;
	width: 100%;
	height: 80vh;
	width:80vh;
	position: relative;
	perspective: 500vh;
	
	padding-top:calc(10vh + 50px);
	
	transform:scale(0);
	transition:transform 3s ease-out;
}

.carousel {
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform:rotateY(360deg);
	transition: transform 3s;
}

.item {
	position: absolute;
	width: 80vh;
	height: 80vh;
	color: #FFF;
	
	z-index:1;
	
	overflow:visible;
}

.a {
	transform: rotateY(0deg) translateZ(80vh);
	opacity:0.9;
}
.b {
	transform: rotateY(60deg) translateZ(80vh);
}
.c {
	transform: rotateY(120deg) translateZ(80vh);
}
.d {
	transform: rotateY(180deg) translateZ(80vh);
}
.e {
	transform: rotateY(240deg) translateZ(80vh);
} 
.f {
	transform: rotateY(300deg) translateZ(80vh);
}




.item div{
	padding:0; margin:0;
	width:80vh;height:80vh;
	
	display: flex;
	align-items: center;
	justify-content:center;
	
	background-size:cover;
	
	filter:brightness(1);
	transition:transform 1s ease, filter 1s ease;
}
.item div div{
	height:initial;
	max-width:80vw;max-height:80vh;
	text-align:left;
	display:block;
	padding:0;
	background-color:rgba(66,66,66,0.8);
}

.item div div h2, .item div div p{
	padding: 0 20px;
}








.item button{
	background:rgba(255,255,255,0.1); color:white;
	border:none;
	width:100%;
	padding:10px;
	transition: background 0.25s ease, color 0.25s ease;
	cursor:pointer;
}
.item button:hover{
	background:rgba(255, 255, 255, 0.2);
}
.item button:active{
	background:white; color:black;
}










.CarBtn{
	position:fixed; top:50vh;
	left:10px;
	font-size:200%;
	
	z-index:5;
}

.NextCar{
	left:initial;
	right:10px;
}




#Loader{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%)translateY(-50%);
	opacity:1;
	transition: opacity 0.5s ease;
}






.ExpandText{
	position:fixed;
	top:100vh;
	left:0;
	margin:0;
	color:white;
	width:100%;height:calc(100vh - 118px);	
	
	display: flex;
	align-items: center;
	justify-content:center;
	
	transition: top 1s ease;
}
.ExpandText div{
	width:60%;
}

.ExpandText button{
	background:rgba(255,255,255,0.1); color:white;
	border:none;
	width:100%;
	padding:10px;
	transition: background 0.25s ease, color 0.25s ease;
	cursor:pointer;
}
.ExpandText button:hover{
	background:rgba(255, 255, 255, 0.2);
}
.ExpandText button:active{
	background:white; color:black;
}

.ExpandText::before{
	content:'';
	position:absolute;
	top:0; left:0;
	background:black;
	width:100%; height:100%;
	z-index:-1;
	
	opacity:0;
	transition: opacity 0.1s ease;
	transition-delay:0;
}
.OpenText::before{
	opacity:1;
	transition-delay:1s;
}